<form>
    <div class="mb-3">
        <input type="email" class="form-control rounded-pill" id="email" placeholder="Введіть ваш e-mail" required>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control rounded-pill" id="password" placeholder="Придумайте пароль" required>
    </div>
    <button type="submit" class="btn btn-warning w-100 rounded-pill">Зареєструватись</button>
</form>
<hr>
<div class="text-center">
    <button class="btn btn-outline-primary w-100 mb-2 rounded-pill">Увійти через Google</button>
    <button class="btn btn-outline-info w-100 mb-2 rounded-pill">Увійти через Telegram</button>
    <button class="btn btn-outline-dark w-100 rounded-pill">Увійти через Дію</button>
</div>
<div class="modal-footer">
    <a href="#" class="text-center w-100 text-decoration-none text-reset switch-modal" data-modal-type="login">Увійти на JavaMind</a>
</div>